body{
 background:linear-gradient(141deg,#0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); 
  
}

h1{
  background-color: powderblue;
  color:#ffffff;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size:10em;
 
}
h2{
  
  
  
}
