body{
 background:linear-gradient(141deg,#0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); 
  
}

h1{
  color:#f3f3f3;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size:5em;
 
}

a:link, a:visited {
    /*background-color: #f44336;*/
    color: white;
    padding: 5% 30%;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    border-left-style: solid;
    border-color:red;
}
